<footer>
  <div class="containerFooter">
      <div class="partOneFooter">
          <div class="Titulo-redes-sociales">
              <h2><span class="nuestrasFooter">Nuestras</span> Redes Sociales</h2>
          </div>
          <div class="socialIconsFooter">
              <img src="/img/social_facebook_fb_2763.png">
              <img src="/img/1491579583-yumminkysocialmedia02_83111.png">
              <img src="/img/instagram_socialnetwork_22374.png">
              <img src="/img/Youtube_36365.png">
              <img src="/img/Google_icon-icons.com_60497.png">
          </div>                    
      </div>
      <div class="partTwoFooter">
              <div class= "contactenos"><h2>Contactenos</h2>
              </div>
             
              <div class="contentFooter">
                 
                  <div class="mapFooter">
                      <img src="/img/1496676725-rounded-high-ultra-colour02-maps_84627.png">
                      <p> Guemes 3774, Buenos Aires</p>
                  </div>
                  <div class="telFooter">
                      <img src="/img/phone-icon_34382.png">
                      <p>+54 1164369138</p>
                  </div>
                  <div class="emailFooter">
                      <img src="/img/4202011emailgmaillogomailsocialsocialmedia-115677_115624.png">
                      <p>yotemudo@gmail.com</p>
                  </div>
              
              </div>
      </div>
      <div class="partThreeFooter">
          <p class="copyFooter">@2021 Todos los derechos reservados</p>  
      </div>              
  </div>   
</footer>